<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Admin</title>
    {% endif %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'allstyle.css') }}">
  </head>
  <body class="formlogin">
    <ul class="ulist">
      <li><a class = 'nav-bar' href = "{{ url_for('home') }}">Home</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('about') }}">About us</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('about_pet') }}">Know about your pet</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('why_adoption') }}">Why pet adoption</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('register') }}">Register with us</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('login_user') }}">User Login</a></li>
      <li><a class = 'nav-bar' href = "{{ url_for('login_admin') }}">Admin</a></li>
      <li class = "ritem"><a class = 'nav-bar' href = "{{ url_for('logout_admin') }}">Logout</a></li>
    </ul>
    <br><br>
    <p align = 'center' class = "hometext"><b>{{ message }}</b></p><br>
  </body>
</html>
